.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 12px;
}

.header__links-list-item {
  display: flex;
  align-items: center;
  gap: 12px;
  list-style: none;
}

.header__links-list-item::before {
  content: "\25E6";
  font-size: 14px;
}

.header__links-list-item_no-bullit::before {
  display: none;
}

.header__link {
  text-transform: lowercase;
}

.header__logo {
  width: 136px;
  font-size: 0;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
}

.header__address {
  justify-self: end;
  max-width: 240px;
  line-height: 1.35;
}

.cover {
  position: relative;
  min-height: 757px;
  padding: 165px 50px 50px;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  opacity: 0.6;
  background: #000;
}

.cover__title {
  position: relative;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text_padding-top {
  padding-top: 20px;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
  text-transform: uppercase;
}

.cover__description-text {
  font-size: 22px;
  word-spacing: 18.5px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

main {
  min-height: 3000px;
}
